.auth {
  &-modal {
    width: 600px !important;
  }
  &-form {
    padding: 0 50px;

    &-new-acc {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
    &-still-no-acc {
      font-size: 12px;
      color: #111B54;
    }
    &-register {
      margin-left: 5px;
      cursor: pointer;
      font-size: 12px;
      opacity: 0.65;
      color: #111B54;
    }
    &-registration {
      &-types {
        display: flex;
        justify-content: space-between;
      }
      &-type {
        flex: 0.5;
        padding: 5px;
        color: white;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        background: linear-gradient(98.75deg, rgba(12, 196, 224, 0.75) 0%, #0263FF 100%);
        border-radius: 10px;
      }
    }
  }
  &-submit-btn {
    background: #0CC4E0 !important;
    border-radius: 10px !important;
    margin-top: 25px;
    border-color: #0CC4E0 !important;
    width: 100% !important;
  }
}

.auth-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100%;
  &--container {
    width: 400px;
    padding: 20px;
    background: #DEDEDE;
    border-radius: 5px;
  }

  &--button-container {
    margin-top: 10px
  }

  &--input-container {
    margin-top: 10px;
  }
}

.active {
  border: 1px solid #0263FF;
  background: #ffffff;
  color: #111B54;
  margin-right: 10px;
}
